<h2> Pokedex </h2>
<p>Pokem ipsum dolor sit amet Gligar Hydro Pump Earthquake Ash's mother Tornadus
   Mandibuzz. Growl searching far and wide Soul Badge Girafarig Tangela
   Rampardos Mirror Move. V for victory Whirlipede Unfezant Gulpin Roserade Ash
   Ketchum Blitzle. Fire Manaphy Normal Silph Scope Chatot Registeel Burnt Berry.
    Ash Claydol Raticate Tail Whip Earth Badge Glalie Sandslash.
</p>
<%= render partial: 'pokemon', collection: @pokemons %>
